mat-icon.disable {
  opacity: 0.6;
  pointer-events: none;
}
mat-icon {
  cursor: pointer;
}

a {
  text-decoration: none;
  background-color: transparent;
}

h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

mat-list {
  margin-top: 20px;
}

mat-toolbar {
  background-color: #f76200;
}

mat-icon {
  font-size: 30px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.pageNumber {
  font-size: 17px;
  color: white;
}

span {
  margin: auto;
}
